@model IEnumerable<Repaso_2EV.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Seleccion";
}

<h1>Seleccion</h1>

<p>
    <a asp-action="Create">Create New Vehiculo</a>
</p>

<form method="get" id="searchForm">
    <div class="form-group">
        <label for="marcaId">Marcas : </label>
        <select id="marcaId" name="marcaId" class="form-control" asp-items="ViewBag.lasMarcas" onchange="this.form.submit()">
            <option value="">-- Selecciona una Marca --</option>
        </select>
        <input type="submit" value="Buscar!" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <label for="serieId">Series : </label>
        <select id="serieId" name="serieId" class="form-control" asp-items="ViewBag.lasSeries" onchange="form.submit()">
            <option value="">-- Selecciona una Serie --</option>
        </select>
        <input type="submit" value="Buscar!" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Nom_Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Marca.Nom_Marca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>