@page
@model RazorPages.Pages.Alumnos.DetailsModel
@{
	var photo = "~/images/" + (Model.alumno.Foto ?? "noimage.jpg");

}

<div class="card m-3" align="center" style="min-width: 12rem; max-width:80%">
    <div class="card-header">
        <h3>@Model.alumno.Nombre</h3>
    </div>
    <img class="card-img-top imageThumbail" width="150px" asp-append-version="true" src="@photo">
    <div class="card-footer text-center">
        <h3>Id: @Model.alumno.Id</h3>
        <h3>Email: @Model.alumno.Email</h3>
        <h3>Curso: @Model.alumno.CursoId</h3>
        <a asp-page="/Alumnos/Index" class="btn btn-primary m-1">BACK</a>

    </div>

</div>
