@page
@model RazorPages.Pages.Alumnos.IndexModel
@{
}
<h1>Alumnos</h1>
<!--esto es para buscar los alumnos mediante un buscador por email,id...-->
<form method="get">
	<div class="input-group">
		<input class="form-control" asp-for="elementoABuscar"/>
		<div class="input-group-append">
			<button type="submit" class="btn btn-primary">Buscar</button>
		</div>
	</div>

</form>
<h3>@Model.Alumnos.Count()</h3>
<div class="col-sm-8">
	@await Component.InvokeAsync("AlumnosCurso")
</div>
<div class="card-deck">

	@foreach(var alumno in @Model.Alumnos)
	{
		var photo = "~/images/" + (alumno.Foto ?? "noimage.jpg");
		<div class="card m-3" style="min-width: 18rem; max-width: 30%">
			<div class="card-header">
				<h3>@alumno.Nombre</h3>
			</div>
			<img class="card-img-top imageThumbail" asp-append-version="true" src="@photo">
			<div class="card-footer text-center">
				<a asp-page="/Alumnos/Details" asp-route-ID="@alumno.Id" class="btn btn-primary m-1">View</a>
				<a asp-page="/Alumnos/Edit" asp-route-ID="@alumno.Id" class="btn btn-primary m-1">Edit</a>
				<a asp-page="/Alumnos/Delete" asp-route-ID="@alumno.Id" class="btn btn-danger m-1">Delete</a>

			</div>
		</div>
	}


</div>

