@page
@model FrutaPrueba.Pages.Fruterias.IndexModel
@{
}
<h3>Fruterias</h3>
<br/>
<h3>Total : @Model.Fruterias.Count()</h3>
@foreach (var fruteria in Model.Fruterias)
{
	
    var photo = "~/images/" + (fruteria.foto ?? "noimage.jpg");
	<div class="card m-3 border" style="min-width: 18rem; max-width:30%">
            <div class="card-header text-center">
                <h3>@fruteria.nombre</h3>
            </div>
            
            <img class="card-img-top mx-auto " asp-append-version="true" src="@photo">
            <div class="card-footer text-center">
                <a asp-page="/Fruterias/Details" asp-route-ID="@fruteria.id" class="btn btn-primary m1">View</a>
            <a asp-page="/Fruterias/Edit" asp-route-ID="@fruteria.id" class="btn btn-primary m1">Edit</a>
            <a asp-page="/Fruterias/Delete" asp-route-ID="@fruteria.id" class="btn btn-danger m-1">Delete</a>
            </div>
    </div>
	
}